@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Medium"), local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Light"), local("Quicksand-Light"), url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff"), url("../fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container-first,
.container-third,
.container-second,
.container-second-wrap,
.container-fourth,
.container-five,
.container-six {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container-first {
  max-width: 1235px;
}

.container-second {
  max-width: 1255px;
}

.container-third {
  max-width: 918px;
}

.container-second-wrap {
  max-width: 611px;
}

.container-fourth {
  max-width: 1231px;
}

.container-five {
  max-width: 730px;
}

.container-six {
  max-width: 74rem;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  width: 100%;
}

.d-flex {
  display: flex;
}

a {
  color: #8D96BD;
  text-decoration: none;
}

.unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-colum {
  flex-direction: column;
}

.header {
  padding: 18px 0;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}
.header__navigation {
  gap: 73px;
}
.header__navigation-logo a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #5E81FE;
  border-radius: 50%;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.header__navigation-logo a:hover {
  width: 27px;
  height: 27px;
  box-shadow: 10px 5px 5px #8D96BD;
  transform: scale(1.3);
  transition: 0.9s;
  top: -10px;
}
.header__navigation nav ul {
  gap: 42px;
}
.header__navigation nav a:hover {
  color: #5E81FE;
  font-weight: 700;
}
.header__navigation nav a:active {
  color: #D8E3FE;
}
.header__navigation-logo, .header__navigation-link {
  position: relative;
}
.header__navigation-logo::after, .header__navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #5E81FE;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.9s;
}
.header__navigation-logo:hover::after, .header__navigation-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header__social {
  gap: 44px;
}
.header__social-icons a {
  width: 18px;
  height: 17px;
}
.header__social-icons a:hover {
  color: #5E81FE;
  box-shadow: 7px -7px 14px 4px #D8E3FE;
}
.header__social-icons a:active {
  color: #D8E3FE;
}
.header__social-icons ul {
  gap: 38px;
}
.header__social-cta a {
  display: inline-block;
  border-radius: 2px;
  padding: 13px 21px;
  color: #3A79FF;
  background-color: #D2E1FF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 13px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
}
.header__social-cta a:hover {
  color: #fff;
  background-color: #4C85FF;
}
.header__social-cta a:active {
  color: #8D96BD;
  text-shadow: none;
  background-color: #D2E1FF;
  box-shadow: none;
}

.header__media-menu-btn {
  display: none;
}
.header .burger {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  width: 140px;
  height: 35px;
  text-align: center;
}
.header .burger:hover,
.header .burger:active {
  color: #5E81FE;
  border-radius: 15px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
  background-color: #D2E1FF;
  border: 1px solid #999999;
}
@media (min-width: 875px) {
  .header [for=media-menu-btn] {
    display: none;
  }
  .header .hidden-desktop {
    display: none;
  }
}
@media (max-width: 875px) {
  .header .container-lg {
    max-width: 576px;
  }
  .header {
    z-index: 15;
    position: relative;
    min-height: 83px;
    max-height: 83px;
  }
  .header__social-cta {
    display: none;
  }
  .header__navigation nav {
    display: none;
    position: absolute;
    top: 83px;
    width: 100%;
    left: 0;
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  }
  .header__navigation nav ul {
    flex-direction: column;
    gap: 15px;
  }
  .header__navigation nav a {
    display: block;
    padding: 5px 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 22px;
  }
  .header__navigation nav a:hover {
    background: linear-gradient(10deg, #EAF0FF 0%, #F6F9FF 100%);
    border-left: 1px solid #5E81FE;
    border-right: 1px solid #5E81FE;
  }
  .header__media-menu-btn:checked + nav {
    display: initial;
  }
}
@media (max-width: 576px) {
  .header .container-lg {
    max-width: 320px;
  }
  .header .row {
    flex-direction: column;
    gap: 10px;
  }
  .header__social-icons ul {
    gap: 10px;
  }
}

.chart {
  height: 80vh;
  border: 1px solid #D8E3FE;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  position: relative;
}
.chart__clouds-bg {
  background-image: url("/assets/img/clouds_bg.svg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.chart__clouds-bg .container-second {
  height: 80vh;
}
.chart__clouds-bg .container-second .container-second-wrap {
  text-align: center;
  height: 80vh;
}
.chart__clouds-bg-line {
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
.chart__clouds-bg-line-buttons {
  display: flex;
  justify-content: center;
  bottom: 28px;
  position: absolute;
  z-index: 14;
}
.chart__clouds-bg-line-buttons button {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #D1D6E3;
  border: unset;
  margin: 4px 6px;
}
.chart__clouds-bg-line-buttons button:hover {
  background: #5283FF;
}
.chart__clouds-bg-line-buttons button:active {
  transform: scale(1.2);
}
.chart__description {
  padding: 92px 0 16px;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  color: #3D4F9F;
}
.chart__title {
  font-family: "Quicksand", sans-serif;
  color: #3D4F9F;
  font-weight: 500;
  font-size: 48px;
  padding-bottom: 28px;
}
.chart__title-span {
  font-size: 48px;
  font-weight: 300;
}
.chart__description-text {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  width: 502px;
  color: #8D96BD;
}
.chart__button-play {
  width: 52px;
  height: 52px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
  z-index: 13;
}
.chart__button-play:active {
  box-shadow: 0 10px 50px #5E81FE;
}
.chart__button-play:hover {
  transition: 0.4s;
  scale: 1.1;
}
.chart__points {
  display: flex;
  justify-content: space-around;
  height: 20px;
}
.chart__points-dot {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  border: 2px solid #5E80FE;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(82, 131, 255, 0.25);
}
.chart__points-dot:hover:after {
  content: url("/assets/img/Group 74.svg");
  position: absolute;
  top: -110px;
  left: -70px;
}
.chart__points .one {
  position: absolute;
  left: 10%;
  bottom: 8%;
}
.chart__points .two {
  position: absolute;
  left: 34%;
  bottom: 15%;
}
.chart__points .three {
  position: absolute;
  left: 62%;
  bottom: 58%;
}
.chart__points .four {
  position: absolute;
  right: 12%;
  top: 16%;
}

@media (min-width: 1450px) {
  .chart {
    height: 40vh;
  }
}
@media (max-width: 991px) {
  .container-second-wrap {
    max-width: 768px;
  }
  .chart {
    height: 60vh;
  }
}
@media (max-width: 767px) {
  .container-second-wrap {
    max-width: 576px;
  }
  .chart__description {
    padding-top: 50px;
  }
  .chart__title {
    line-height: 40px;
    text-align: center;
    font-size: 36px;
    padding-bottom: 20px;
  }
  .chart__title-span {
    font-size: 36px;
  }
  .chart__description-text {
    text-align: center;
    padding-bottom: 15px;
  }
  .chart__clouds-bg-line {
    display: none;
  }
}
@media (max-width: 576px) {
  .container-second-wrap {
    max-width: 400px;
  }
  .chart__description {
    padding-top: 30px;
  }
  .chart__description-text {
    width: 300px;
  }
}
.partners {
  padding: 58px 0;
}
.partners__icons {
  justify-content: space-around;
}
.partners__icons a {
  display: flex;
  align-items: flex-end;
}
.partners__icons a svg path {
  fill: #D6DAE5;
}
.partners__icons a:hover {
  animation: shake1 0.5s linear;
}
.partners__icons a:hover svg path {
  fill: #5982E7;
}
@keyframes shake1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}

@media (max-width: 991px) {
  .container-third {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container-third {
    max-width: 576px;
  }
  .partners {
    padding: 35px 0;
  }
  .partners__icons {
    flex-wrap: wrap;
  }
  .partners__icons a {
    padding: 5px 10px;
  }
}
.plan-manage {
  width: 100vw;
  height: 776px;
  background-color: #F5F8FF;
  position: relative;
  overflow: hidden;
}
.plan-manage__info {
  width: 50%;
  padding-top: 208px;
}
.plan-manage__picture {
  padding-top: 170px;
  position: absolute;
  right: 0;
  perspective: 1500px;
  transform-style: preserve-3d;
  perspective-origin: 1px;
}
.plan-manage__picture-img {
  transform: rotateY(-35deg) rotateX(15deg);
}
.plan-manage__description {
  font-size: 10px;
  font-weight: 500;
  color: #3D4F9F;
  padding-bottom: 27px;
}
.plan-manage__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  padding-bottom: 27px;
}
.plan-manage__title-span {
  font-weight: 400;
}
.plan-manage__description-text {
  width: 413px;
  font-weight: 400;
  font-size: 15px;
  color: #8D96BD;
  padding-bottom: 60px;
}
.plan-manage__first-button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  background: #4C85FF;
  color: #fff;
  box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
  width: 131px;
  height: 43px;
  border: 1px solid #D1D1E4;
  font-size: 13px;
}
.plan-manage__first-button span svg path {
  fill: #fff;
}
.plan-manage__first-button:hover {
  background-color: transparent;
  color: #ADB4D2;
}
.plan-manage__first-button:hover span svg path {
  fill: #ADB4D2;
}
.plan-manage__first-button:active {
  box-shadow: none;
}
.plan-manage__second-button {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  border: 1px solid #D1D1E4;
  background-color: transparent;
  color: #ADB4D2;
  font-size: 13px;
  width: 131px;
  height: 43px;
}
.plan-manage__second-button:hover {
  box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
}
.plan-manage__second-button:active {
  box-shadow: none;
}

@media (max-width: 1399px) {
  .container-third {
    max-width: 918px;
  }
  .plan-manage {
    height: 550px;
  }
  .plan-manage__info {
    padding-top: 95px;
    align-items: center;
  }
  .plan-manage__picture {
    width: 50%;
    padding-top: 65px;
  }
  .plan-manage__description-text {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .container-third {
    max-width: 992px;
  }
}
@media (max-width: 991px) {
  .container-third {
    max-width: 768px;
  }
  .plan-manage__picture {
    display: none;
  }
}
@media (max-width: 767px) {
  .container-third {
    max-width: 576px;
  }
  .plan-manage__info {
    width: 80%;
    text-align: center;
    align-items: center;
  }
  .plan-manage__picture {
    width: 60%;
    padding-top: 60%;
    left: 18%;
  }
  .plan-manage__media {
    justify-content: center;
  }
  .plan-manage__buttons {
    justify-content: center;
  }
}
.about-app {
  padding: 141px 0 171px;
}
.about-app__container-background {
  background: url("/assets/img/clouds.svg") no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
}
.about-app__elements {
  text-align: center;
  flex-direction: column;
}
.about-app__elements-header {
  padding: 30px 0 92px;
}
.about-app__elements-header-description {
  font-weight: 500;
  font-size: 10px;
  color: #3D4F9F;
  padding-bottom: 20px;
}
.about-app__elements-header-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #3D4F9F;
}
.about-app__elements-main {
  padding-bottom: 92px;
}
.about-app__elements-main-item {
  gap: 67px;
  position: relative;
}
.about-app__elements-main-item-element {
  padding: 0 60px;
  align-items: center;
  width: 25%;
}
.about-app__elements-main-item-element:hover {
  background-color: #D1D1E4;
  border-radius: 10px;
}
.about-app__elements-main-item-element:hover p, .about-app__elements-main-item-element:hover h4 {
  color: white;
}
.about-app__elements-main-item-element:not(:last-child):after {
  content: url("/assets/img/Line 2.svg");
  top: 50%;
  padding-left: 27%;
  position: absolute;
}
.about-app__elements-main-item-ellipse {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #F1F5FF;
  padding: 25px;
  margin-bottom: 33px;
}
.about-app__elements-main-item-text-description {
  padding-bottom: 25px;
  color: #4074F8;
}
.about-app__elements-main-item-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #DFE2EF;
  line-height: 19px;
}
.about-app__elements-footer {
  position: relative;
  gap: 16px;
}
.about-app__elements-footer-read-cta, .about-app__elements-footer-cta {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  width: 113px;
  padding: 13px 0;
  border-radius: 2px;
  cursor: pointer;
}
.about-app__elements-footer-read-cta:active, .about-app__elements-footer-cta:active {
  opacity: 0.75;
}
.about-app__elements-footer-read-cta {
  background: #FFD7D7;
  color: #D43F3F;
}
.about-app__elements-footer-span {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #DFE2EF;
  display: flex;
  gap: 17px;
  align-items: center;
}
.about-app__elements-footer-span:after, .about-app__elements-footer-span:before {
  content: "";
  height: 1px;
  width: 13px;
  background-color: #DAE4FE;
  display: block;
}
.about-app__elements-footer-cta {
  color: #3A79FF;
  background-color: #D2E1FF;
}

@media (max-width: 1200px) {
  .container-fourth {
    max-width: 1000px;
  }
  .about-app__container-background {
    background-size: cover;
  }
  .about-app__elements-main-item-element {
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .container-fourth {
    max-width: 768px;
  }
  .about-app {
    padding: 50px 0 50px;
  }
  .about-app__elements-main-item {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .about-app__elements-main-item-element {
    width: 50%;
  }
  .about-app__elements-main-item-element:not(:last-child):after {
    display: none;
  }
  .about-app__elements-footer {
    flex-direction: column;
    gap: 5px;
  }
  .about-app__elements-header {
    padding-bottom: 40px;
  }
}
.stat {
  overflow: hidden;
}
.stat__block {
  width: 100%;
}
.stat__block-percent {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  width: 50%;
  text-align: end;
  padding: 66px 90px 66px 0;
  position: relative;
  animation-name: slide-left;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.stat__block-percent-title {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 48px;
}
.stat__block-percent-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.stat__block-percent:before {
  content: "";
  width: 100vw;
  height: 100%;
  background-color: #5E80FF;
  position: absolute;
  right: 100%;
  top: 0;
}
.stat__block-number {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  width: 50%;
  text-align: start;
  padding: 66px 0 66px 90px;
  position: relative;
  animation-name: slide-right;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.stat__block-number:before {
  content: "";
  width: 100vw;
  height: 100%;
  background-color: #E0E9FF;
  position: absolute;
  left: 100%;
  top: 0;
}
.stat__block-number-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #5E80FF;
}
.stat__block-number-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #5E80FF;
}

@keyframes slide-left {
  0% {
    left: -100%;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-right {
  0% {
    right: -100%;
  }
  50% {
    right: -50%;
  }
  100% {
    right: 0;
  }
}
@media (max-width: 991px) {
  .stat__block {
    flex-direction: column;
    position: relative;
  }
  .stat__block-number {
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  .stat__block-number:after {
    content: "";
    width: 100vw;
    height: 100%;
    background-color: #E0E9FF;
    position: absolute;
    right: 100%;
    top: 0;
  }
  .stat__block-percent {
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  .stat__block-percent:after {
    content: "";
    width: 100vw;
    height: 100%;
    background-color: #5E80FF;
    position: absolute;
    left: 100%;
    top: 0;
  }
}
.container-six {
  width: 100%;
}

.blog {
  background-color: #F5F8FF;
  padding: 5rem 0;
}
.blog__header-title {
  font-weight: 500;
  font-size: 10px;
  color: #3D4F9F;
  padding: 1.5rem 0 1.25rem;
}
.blog__header-description {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5.75rem;
  color: #3D4F9F;
}
.blog__main {
  padding: 63px 41px 64px 35px;
  background-color: #fff;
  width: 59.875em;
  margin: 0 auto;
  gap: 67px;
  position: relative;
}
.blog__main-wrapper {
  padding: 10px;
}
.blog__main-left-side {
  width: 50%;
  gap: 13px;
}
.blog__main-left-side-big {
  gap: 13px;
}
.blog__main-left-side-smalls {
  gap: 13px;
}
.blog__main-right-side {
  width: 50%;
}
.blog__main-right-side-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #3D4F9F;
  padding-bottom: 45px;
  text-align: left;
}
.blog__main-right-side-text {
  font-weight: 400;
  font-size: 14px;
  width: 400px;
  color: #8D96BD;
  letter-spacing: 0.03em;
  padding-bottom: 31px;
}
.blog__main-right-side-buttons {
  gap: 8px;
}
.blog__main-right-side-buttons-1 {
  padding: 12px 16px;
  background: #D2E1FF;
  color: #3A79FF;
  border: 1px solid #D2E1FF;
}
.blog__main-right-side-buttons-1:hover {
  background: transparent;
  color: #A6B6DA;
}
.blog__main-right-side-buttons-2 {
  padding: 12px 16px;
  color: #A6B6DA;
}
.blog__main-right-side-buttons-2:hover {
  border: 1px solid #D2E1FF;
}
.blog__footer {
  padding-top: 100px;
}
.blog__footer-button {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #D1D6E3;
  border: unset;
  margin: 4px 6px;
  cursor: pointer;
}
.blog__footer-button:hover {
  background: #5283FF;
}

@media (max-width: 1199px) {
  .container-six {
    max-width: 992px;
  }
  .blog__main {
    width: 100%;
    justify-content: center;
    padding: 40px 35px;
    gap: 30px;
  }
  .blog__main-left-side {
    flex-direction: column-reverse;
    align-items: center;
  }
  .blog__main-left-side-smalls {
    flex-direction: row;
  }
  .blog__main-right-side {
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog__main-right-side-text {
    width: 100%;
  }
  .blog__main-right-side-buttons {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .container-six {
    max-width: 768px;
  }
  .blog__main {
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding: 15px 15px;
  }
  .blog__main-left-side {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .blog__main-left-side-smalls {
    flex-direction: column;
  }
  .blog__main-right-side {
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .blog__main-right-side-title {
    text-align: center;
    padding-bottom: 15px;
  }
  .blog__main-right-side-buttons {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
