@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
  .questions {

    &__wrapper {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
  details {
    .details-content {
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .span-1 {
        width: 80%;

      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }
  .questions {
    padding: 60px 0;
    &__header{
      &-description{
        font-size: 30px;
        padding-bottom: 50px;
      }
    }

    &__main {
      details {
        text-align: center;

        .span-1 {
          margin-left: 30px;
        }

        .span-2 {
          button {
            padding: 8px;
            border: 1px solid #7382A3;
          }
        }

        summary {
          position: relative;

          &::before {
            top: 0;
            left: -19px;
            position: absolute;
          }
        }
      }
    }
  }
}

