.questions {
  padding: 176px 0 174px;

  &__wrapper {
    width: 62%;
    margin: 0 auto;
  }

  &__header {
    text-align: center;

    &-title {
      font-weight: $font-weight-medium;
      font-size: $font-x-xxx-small;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $accent-color-text;
      padding-bottom: 20px;
    }

    &-description {
      font-family: $font-quicksand;
      font-weight: $font-weight-medium;
      font-size: $font-xx-large;
      line-height: 45px;
      color: $accent-color-text;
      padding-bottom: 68px;
    }
  }

  &__main {
    gap: 16px;
    details {
      cursor: pointer;
      font-weight: $font-weight-medium;
      font-size: $font-small;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: #8E96B7;

      &[open] summary::before {
        content: url("/assets/img/up.svg");
      }

      &[open] summary {
        color: #495274;
        font-family: $font-quicksand;
        font-weight: $font-weight-bold;
        font-size: $font-medium;

      }

      .span-1{
        display: block;
        margin-left: 90px;
        width: 50%;
      }
      .span-2{
        width: 50%;
        button{
          font-family: $font-quicksand;
          font-weight: $font-weight-medium;
          font-size: $font-x-small;
          color: #7382A3;
          border: none;
          border-radius: 2px;
          padding: 13px 14px 13px 15px;
          background-color: #E8ECF4;

          &:active{
            border: 1px solid #7382A3;
          }
        }
      }

      summary {
        padding-bottom: 15px;
        transition: 1.2s;

        &::marker {
          color: white;
        }

        &::before {
          content: url("/assets/img/down.svg");
          margin: 0 24px 0 15px;
        }
      }
    }

    &-line {
      background-color: #D8E3FE;
      margin: 0;
      height: 1px;
      width: 100%;
      border: 0;
    }
  }

}