.chart{
  height: 80vh;
  border: 1px solid $border;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  //overflow: hidden;
  position: relative;



  &__clouds-bg{
    background-image: url("/assets/img/clouds_bg.svg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    .container-second{
        height: 80vh;
      .container-second-wrap{
        text-align: center;
        height: 80vh;
      }
    }

    &-line{
      object-fit: cover;
      position: absolute;
      bottom: 0;

      &-buttons{
        display: flex;
        justify-content: center;
        bottom: 28px;
        position: absolute;
        //left: 0;
        //right: 0;
        z-index: 14;
        button{

          width: 12px;
          height: 12px;
          border-radius: 10px;
          background: #D1D6E3;
          border: unset;
          margin: 4px 6px;
          &:hover{
            background: #5283FF;
          }
          &:active{
            transform:scale(1.2);
          }
        }

      }
    }

  }
  &__description{
    padding: 92px 0 16px ;
    font-weight: $font-weight-medium;
    font-size: $font-x-sm;
    line-height: 11px;
    color: $accent-color-text;
  }
  &__title{
    font-family: $font-quicksand;
    color: $accent-color-text;
    font-weight:$font-weight-medium;
    font-size: 48px;
    padding-bottom: 28px;
    &-span{
      font-size: 48px;
      font-weight: $font-weight-light ;
    }
  }
  &__description-text{
    padding-bottom: 20px;
    font-size: $font-md;
    font-weight: $font-weight-regular;
    line-height: 29px;
    width: 502px;
    color:#8D96BD;
  }
  &__button-play {
    width: 52px;
    height: 52px;
    background: $white;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
    z-index: 13;

    &:active {
      box-shadow: 0 10px 50px $secondary-accent-color;
    }
    &:hover{
      transition: .4s;
      scale: 1.1;
    }

  }
  &__points {
    display: flex;
    justify-content: space-around;
    height: 20px;
    &-dot{
      width: 15px;
      height: 15px;
      border-radius: 20px;
      border: 2px solid #5E80FE;
      background: #ffffff;
      box-shadow: 0 0 15px rgba(82, 131, 255, 0.25);
      &:hover:after {
        content: url("/assets/img/Group 74.svg");
        position: absolute;
        top: -110px;
        left: -70px;
      }
    }
    .one {
      position: absolute;
      left: 10%;
      bottom: 8%
    }
    .two {
      position: absolute;
      left: 34%;
      bottom: 15%;
    }
    .three {
      position: absolute;
      left: 62%;
      bottom: 58%;
    }
    .four {
      position: absolute;
      right: 12%;
      top: 16%;
    }
  }


  }
