@media (min-width: 1450px) {
  .chart {
    height: 40vh;
  }
}
    @media (max-width: 991px) {
  .container-second-wrap {
    max-width: 768px;
  }
  .chart{
    height: 60vh;
  }

}

@media (max-width: 767px) {
  .container-second-wrap{
    max-width: 576px;
  }
  .chart__description {
    padding-top: 50px;
  }
  .chart__title{
    line-height: 40px;
    text-align: center;
    font-size: $font-xx-large;
    padding-bottom: 20px;

    &-span{
      font-size: $font-xx-large;
    }
  }
  .chart__description-text {
    text-align: center;
    padding-bottom: 15px;
  }
  .chart__clouds-bg-line {
    display: none;
  }
}
@media (max-width: 576px) {
  .container-second-wrap{
    max-width: 400px;
  }
  .chart{
    &__description {
      padding-top: 30px;
    }

    &__description-text {
      width: 300px;
    }
  }

}