body {
  font-family: $main-font;
  font-weight: $font-weight-regular;

}

.container,
.container-first,
.container-third,
.container-second,
.container-second-wrap,
.container-fourth,
.container-five,
.container-six,
.new-letter__container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: $container;
}

.container-first {
  max-width: $container-first;
}

.container-second {
  max-width: $container-second;
}

.container-third {
  max-width: $container-third;
}

.container-second-wrap {
  max-width: $container-second-wrap;
}

.container-fourth {
  max-width: $container-fourth;
}

.container-five {
  max-width: $container-five;
}

.container-six {
  max-width: $container-six;
}

.new-letter__container {
  max-width: $new-letter__container;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  width: 100%;
}

.d-flex {
  display: flex;
}

a {
  color: $accent-color;
  text-decoration: none;
}

.unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-colum {
  flex-direction: column;
}