body{
  font-family: $main-font;
  font-weight: $font-weight-regular;
  font-size: $font-md;
}
.container-lg,
.container-md,
.container-lg-x,
.container-sm{
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.container-lg{
  max-width: $container-lg-width;
}
.container-lg-x{
  max-width: $container-lg-x-width;
}
.container-md{
  max-width: $container-md-width;
}
.container-sm{
  max-width: $container-sm-width;
}
.row{
  display: flex;
  align-items: center;
}
.col{
  width: 100%;
}
.d-flex{
  display: flex;
}
a{
  color: $accent-color;
  text-decoration: none;
}
.unstyled{
  padding: 0;
  margin: 0;
  list-style: none;
}
.justify-content-end{
  justify-content: flex-end;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.flex-direction-colum{
  flex-direction: column;
  gap: 10px;
}