$container-lg-width: 1235px;
$container-md-width: 920px;



$main-font:'Roboto', sans-serif;
$font-quicksand:'Quicksand', sans-serif;

$font-md: 15px;
$font-sm: 12px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;


$header-height:83px;

$border-sm:1px;

$box-shadow-1: #c5c5c5;

$accent-color: #8D96BD;
$secondary-accent-color: #5E81FE;
$header-border-bottom: #D8E3FE;

$button-bg-1: #D2E1FF;