$container: 1236px;
$container-second: 1255px;
$container-first: 1235px;
$container-third: 918px;
$container-fourth: 1231px;
$container-second-wrap: 611px;
$container-five: 730px;
$container-six: 74rem;
$new-letter__container: 917px;




$main-font:'Roboto', sans-serif;
$font-quicksand:'Quicksand', sans-serif;
$font-openSans:'Open Sans',sans-serif;

$font-x-xxx-small:10px;
$font-xxx-small:11px;
$font-xx-small:12px;
$font-x-small:13px;
$font-small:14px;
$font-medium:15px;
$font-large:18px;
$font-x-large:24px;
$font-xx-large:36px;
$font-xxx-large:48px;

$font-weight-light:300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;



$header-height:83px;

$border-sm:1px;

$box-shadow-1: #c5c5c5;

$accent-color: #8D96BD;
$secondary-accent-color: #5E81FE;
$border: #D8E3FE;
$active-color: #D8E3FE;
$white: #fff;
$accent-color-text: #3D4F9F;
$color-text: #A4ABC8;
$color-comment-text: #676F95;

$partners-color:#D6DAE5;
$partners-color-hover: #5982E7;



$button-bg-1: #D2E1FF;
$button-bg-2: #4C85FF;
$button-color: #ADB4D2;
$solid-button: #D1D1E4;
$ellipse-color: #F1F5FF;
$accent-color-item-text: #DFE2EF;
$accent-text-description: #4074F8;
$stat-block-number-text: #5E80FF;
$blog__button-text-color: #3A79FF;

$button-blog: #A6B6DA;
$blog__main-right-side-button-2: #A6B6DA;
$blog__main-right-side-button-1-hover: #A6B6DA;

