@media (max-width: 1200px) {
  .container-fourth {
    max-width: 1000px
  }
  .about-app {
    &__container-background {
      background-size: cover;
    }
    &__elements-main-item-element{
      padding: 0;
    }
  }
}
@media (max-width: 1000px){
  .container-fourth{
    max-width: 768px;
  }
  .about-app{
    padding: 50px 0 50px;
    &__elements-main-item{
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      &-element{
        width: 50%;
        &:not(:last-child):after {
          display: none;
        }

      }
    }
    &__elements-footer{
      flex-direction: column;
      gap: 5px;
    }
    &__elements-header {
      padding-bottom: 40px;
    }
  }
}